In [1]:
import pandas as pd

In [2]:
import pandas_profiling

In [6]:
data = pd.read_csv(r'C:\Users\Mandu\Downloads\spam.csv', encoding='latin1')

In [7]:
data[:5]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
pr = data.profile_report()

In [12]:
pr.to_file('./pr_report.html')

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
from nltk.tokenize import TreebankWordTokenizer
tokenizer = TreebankWordTokenizer()
text = "don't asd asd"
print(tokenizer.tokenize(text))

['do', "n't", 'asd', 'asd']

In [16]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Mandu\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [18]:
from nltk.tokenize import sent_tokenize
text="Enter the IP 192.168.56.31 server, save the log file, and send the results to ukairia777@gmail.com. Then let's go eat lunch."
print(sent_tokenize(text))

['Enter the IP 192.168.56.31 server, save the log file, and send the results to ukairia777@gmail.com.', "Then let's go eat lunch."]

In [19]:
import kss

text='딥 러닝 자연어 처리가 재미있기는 합니다. 그런데 문제는 영어보다 한국어로 할 때 너무 어려워요. 농담아니에요. 이제 해보면 알걸요?'
print(kss.split_sentences(text))

[Korean Sentence Splitter]: Initializing Kss...

['딥 러닝 자연어 처리가 재미있기는 합니다.', '그런데 문제는 영어보다 한국어로 할 때 너무 어려워요. 농담아니에요.', '이제 해보면 알걸요?']